<div id="<%= dom_id memo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= memo.body %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this memo", memo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this memo', edit_memo_path(memo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
